
.header {
  background-color: rgb(3, 3, 116);
  color: white;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}


.header h1 {
  margin: 0;
}

.header h1 a {
  color: white;
  text-decoration: none;
}

/* Навигационное меню */
.main-menu ul {
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-menu li {
  list-style-type: none;
}

.main-menu a {
  color: white;
  text-decoration: none;
}


.main-menu a:hover {
  text-decoration: underline;
}